#container {

  overflow:auto;
  width:806px;
  margin:10px auto;

  #header {
    width:806px - 22px;
    float:left;
    border:1px solid gray;
    @include border-radius(10px 10px 0 0);
    padding:0px 10px;

  }

  #content {
    width:806px - 20px - 2px;
    float:left;
    border:1px solid gray;
    padding:10px;
    #main {
      float:left;
      width:806px - 20px - 2px - 218px;
    }
    #sidebar {
      float:left;
      width:218px;
    }
  }

  #footer {
    width:806px - 20px - 2px;
    float:left;
    text-align:center;
    border:1px solid gray;
    @include border-radius(0 0 10px 10px);
    padding:10px;
  }

}
