#container{
	width:$app_width;
	margin:1em auto;
	overflow:auto;
	#header, #content, #footer {
		float:left;
		padding:5px;

	}
	#header {
		@include border-radius(5px 5px 0 0);
		border: 1px solid $border_color;
		width:$app_width - 12px;
		background-color: $fill_color;
	}
	#content{ 
		width:$app_width - 10px;
	}
	#footer{
		text-align:center;
		@include border-radius(0 0 5px 5px);
		border: 1px solid $border_color;
		width:$app_width - 12px;
		background-color: $fill_color;
	}
}