<div id="title">
RailsGuide Blog, ROR Lab.
</div>

<div id="log_status">
    <% if user_signed_in? %>
	<%= link_to current_user.email, edit_user_info_path(current_user) %>
        |
        <%= link_to "Log out", sign_out_path, :method => :delete %>
    <% else %>
        <%= link_to "Register", sign_up_path %>
        |
        <%= link_to "Log in", sign_in_path %>
    <% end %>
</div>